@use "../../styles/partials/variables" as *;

.animation {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;

  &__highscore-disc {
    margin-top: 10px;
    color: $active-orange;
    position: absolute;
    font-size: 10px;
    font-family: press start;
  }

  &__highscore-dev {
    margin-top: 10px;
    color: $active-purple;
    position: absolute;
    font-size: 10px;
    font-family: press start;
  }

  &__container-discover {
    width: 650px;
    height: 290px;
    background-image: url("../../assets/images/meteor-shower.jpg");
    background-position: center;
    background-size: cover;
  }

  &__container-develop {
    width: 650px;
    height: 290px;
    background-image: url("../../assets/images/space.jpg");
    background-position: center;
    background-size: cover;
  }

  &__animations {
    height: 100%;
    overflow: hidden;
  }

  &__rocket {
    position: relative;
    left: 420px;
    top: 120px;
    height: 150px;
    width: 150px;
  }

  &__astro {
    position: relative;
    // top: 20px;
    left: 100px;
    height: 120px;
    width: 120px;
  }

  &__floating {
    position: relative;
    // top: -150px;
    left: 100px;
    height: 120px;
    width: 120px;
  }
}
