@use "../../styles/partials/variables" as *;

.metrics {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  background-color: black;

  &__form-discover {
    display: flex;
    justify-content: space-between;
    color: $active-purple;
    width: 500px;
  }

  &__form-develop {
    display: flex;
    justify-content: space-between;
    color: $active-orange;
    width: 500px;
  }

  &__options-discover {
    font-family: inherit;
    width: 100px;
    color: $active-purple;
    background-color: black;
  }

  &__options-develop {
    font-family: inherit;
    width: 100px;
    color: $active-orange;
    background-color: black;
  }
}
