.type {
  position: absolute;
  left: 130px;
  bottom: 150px;
  display: flex;
  align-items: center;
  animation: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  &__text {
    padding-top: 20px;
  }

  &__out {
    font-family: bungee;
    color: lime;
    margin-right: 10px;
  }

  &__this {
    @extend .type__out;
    position: relative;
    bottom: 20px;
    left: -4px;
  }

  &__arrow {
    height: 60px;
    width: 60px;
    transform: rotate(180deg);
  }
}
