.score {
  position: absolute;
  left: 140px;
  bottom: 193px;
  display: flex;
  align-items: center;
  animation: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  &__text {
    padding-top: 20px;
  }

  &__out {
    font-family: bungee;
    color: lime;
    margin-right: 10px;
  }

  &__this {
    @extend .score__out;
    position: relative;
    bottom: 20px;
    left: 13px;
  }

  &__arrow {
    height: 60px;
    width: 60px;
    transform: rotate(180deg);
  }
}
