@use "../../styles/partials/variables" as *;

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  background-image: url("../../assets/images/space-two.jpeg");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &__text {
    padding: 5px 0;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 0 7px $active-orange, 0 0 10px $active-orange,
      0 0 21px $active-orange, 0 0 42px $active-orange, 0 0 82px $active-orange,
      0 0 92px $active-orange, 0 0 102px $active-orange,
      0 0 151px $active-orange;

    &:hover {
      text-decoration: underline;
    }
  }
}
