@use "../../styles/partials/variables" as *;

.user {
  &__container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: gugi;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
  }

  &__animation {
    height: 100px;
    width: 100px;
    margin-bottom: -30px;
  }

  &__stats {
    margin-top: 30px;
    width: 60%;
  }

  &__score {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__score--special {
    border-top: 1.5px dashed lime;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding-top: 10px;
  }

  &__spacer {
    width: 70%;
  }

  &__discover {
    color: $active-purple;
    font-size: 16px;
    font-family: press start;
    width: 40%;
    text-align: right;
  }

  &__develop {
    color: $active-orange;
    font-size: 16px;
    font-family: press start;
    width: 40%;
    text-align: right;
  }

  &__icon {
    margin-right: 50px;
    height: 30px;
    width: 30px;
  }

  &__subtitle {
    color: white;
    font-size: 16px;
    font-family: press start;
    width: 50%;
  }

  &__value {
    color: lime;
    font-size: 16px;
    font-family: press start;
    width: 40%;
    text-align: right;
  }

  &__return {
    margin-top: 30px;
    color: black;
    padding: 0 20px;
    background-color: lime;
    border-radius: 25px;
    border: 1.5px solid black;

    &:hover {
      color: lime;
      background-color: black;
      border: 1.5px solid lime;
    }
  }
}
