@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;

  &__container {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__arrow {
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  &__arrow-left {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 30px;
    right: 145px;
    transform: rotate(-20deg);
  }

  &__arrow-right {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 25px;
    left: 140px;
    transform: rotate(200deg);
  }

  &__select {
    font-size: 24px;
    color: white;
    letter-spacing: 2px;
  }

  &__text-discover {
    position: absolute;
    top: 78px;
    color: $active-purple;
    font-size: 10px;
  }

  &__text-develop {
    position: absolute;
    top: 78px;
    color: $active-orange;
    font-size: 10px;
  }

  &__modes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 14px;
  }

  &__link-discover {
    padding: 0 10px;
    border-radius: 25px;
    border: 1.5px dashed $inactive-purple;
    color: $inactive-purple;

    &--active {
      @extend .header__link-discover;
      border: 1.5px solid $active-purple;
      color: $active-purple;
    }
  }

  &__link-develop {
    padding: 0 10px;
    border-radius: 25px;
    border: 1.5px dashed $inactive-orange;
    color: $inactive-orange;

    &--active {
      @extend .header__link-develop;
      border: 1.5px solid $active-orange;
      color: $active-orange;
    }
  }

  &__modal-one {
    position: absolute;
    font-family: press start;
    left: 310px;
    top: 95px;
    border: 0;
    padding: 2px;
    border-radius: 50%;
    background-color: lime;
    padding-left: 3px;
  }

  &__modal-two {
    position: absolute;
    font-family: press start;
    right: 310px;
    top: 95px;
    border: 0;
    padding: 2px;
    border-radius: 50%;
    background-color: lime;
    padding-left: 3px;
  }
}
